@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
    padding: 15px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}
.primary-btn:hover{
    cursor: pointer;
    background-color: #534C64;
    color: gold;
}

/* head-section */
.head-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    background-color: #FFF ;
}
.head-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.head-img{
    width: 86.041px;
    height: 40px;
}
.head-logo h3{
    font-size: 45px;
    font-weight: 700;
}
.g{
    color: #FF42A5;
}
.head-menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
.head-menu a{
    text-decoration: none;
}
.head-menu-logos p:hover{
    cursor: pointer;
    font-size: 35px;
}

.head-menu-logo{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
}
.head-menu-logos{
     padding: 17px; 
}

.head-menu-logos{
    display: flex;
    justify-content: space-around;
}
.head-menu-logos p{
    font-size: 25px;
    align-items: center;
}
.youtube1{
    color: red;
}
.tiktok{
     
}





/* play section  */
.play-section{
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    background-image: url('../images/Group\ 14.png');
    background-position: left;
    background-repeat: no-repeat;
    align-items: center;
}
.play-container{
    
}
.play-pic img{
    width: 100%;
}
.play-container h2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.play-container h1{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-container p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 17px;
}
.button2{
    background: #4EC5F7;
}



/* gammer section */
.gammer-section{
    display: flex;
    justify-content: space-around;
    background-image: url('../images/Group\ 14.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gammer-pic img{
    width: 100%;
}
.gammer-container{
    text-align: right;
}
.gammer-container h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gammer-container p{
    /* width: 520px; */
    color: #534C64;
    font-size: 18px;
    line-height: 30px; 
    margin-top: 25px;
}
.gammer-container h4{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; 
}

.gammer-container h3{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    /* width: 520px; */
}
.gammer-btn{
    margin-bottom: 25px;
}



/* online-game-section */
.onl-g-c{
    height: 620px;
}
.online-game-pic{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.card{
    width: 342px;
    height: 400px;
}
.card:hover img{
    cursor: pointer;
    border: 5px solid #FF42A5 ;
    border-radius: 20px;

}
.card p{
    margin-top: 25px;
}
.card img{
    width: 100%;
}
.online-game-container{
     text-align: center;
     
}
.online-game-container h1{
    margin-top: 120px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-container p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 50px;
    margin-top: 7px;
    
}




.image2{
    position: relative;
    /* width: 400px; */
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top: 3px;
    left: 4px;
    width: 100%;
    height: 98%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bolder;
    opacity: 0;
    /* margin-top: 5px;
    margin-bottom: 10px; */
}
.image__overlay:hover {
    opacity: 1;
}







/* play instantly section  */
.play-ins-sec{
    display: flex;
    justify-content: space-between;
    height: 600px;
    padding: 120px 0px 12px 15% ;
}
.play-instantly{
    display: flex;
    align-items: center;
}
.play-ins-con{
    text-align: right;
}
.play-ins-con h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 
}
.play-ins{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-ins-con p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 25px;
}
 .big-img{
    width: 60%;
 }

.small-img{
    position: relative;
    left: 18%;
    top: 10%;
    width: 30%;
}



/* logo section start  */
.logo-card-sec{
    margin-top: 530px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 427px;
    /* width: 100vw; */
    border: 1px solid white;
}
.logo-card-div{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 30px;
    margin-bottom: 100px;
    padding: 0 200px;
    justify-content: center;
    text-align: center;
}
.logo-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: white;
    width: 110%;
    height: 120%;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
}
.logo-card:hover{
    cursor: pointer;
    border: 1px solid #FF42A5;
    color: #FF42A5;
}



/* footer section  */
.foot-section{
     justify-content: center;
     text-align: center;
     background: #0B0223;
     color: white;
}
.foot-logo{
    height: 90px;
}
.foot-logo-gamer{
    justify-content: center;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 65px;
}
.foot-logo p:hover{
    cursor: pointer;
    font-size: 70px;
}
.foot-web a{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin-left: 60px;
}
.foot-condition{
    padding-top: 65px;
    margin-bottom: 30px;
}
.foot-condition a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.foot-small{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 130px;

    
}


.foot-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 50px;
    padding-top: 60px;
}













/* responsive  */
/* mobile responsive  */
@media screen and (max-width: 576px) {
    .head-section{
        flex-direction: column;
        margin-top: 100px;
        
    }
    .head-menu{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }


    /* play section  */
    .play-section{
        flex-direction: column-reverse;
        gap: 20px;
        background-image: none;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
    .play-container{
        background-image: url('../images/Group\ 14.png');
        background-position: left;
        background-repeat: no-repeat;
        width: 90%;
    }
    .play-pic img{
        width: 80%;
         
    }
    .play-container h2{
        font-size: 35px;
        margin-top: 30px;
    }
    .play-container h1{
        font-size: 63px;
    }
    .play-container p{
        font-size: 16px;
        align-items: start;
        text-align: start;
        margin-left: 70px;
    } 
    .primary-btn{
        padding: 12px 20px;
        font-size: 16px;
    }



    /* gammer-section  */
    .gammer-section{
        flex-direction: column;
        background-image: none ;
        margin-top: 35px ;
    }
    .gammer-container{
        text-align: center;
    }
     
    .gammer-container h2{
        font-size: 30px;
    }
    .gammer-container p{
        font-size: 13px;

    }
    .gammer-container h4{
        font-size: 15px;
    }
    .gammer-container h3{
        font-size: 20px;
    }
    .gammer-btn{
        margin-bottom: 10px;
    }

    .onl-g-c{
        height: 2100px;
    }
    



    /* online-game-section */
    .online-game-pic{
        display: grid;
        gap: 80px;
    }
    .online-game-container h1{
        font-size: 25px;
    }
    .online-game-container p{
        font-size: 12px;
    }
    .card p{
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }
    



    /* play instantly section  */
    .play-ins-sec{
     flex-direction: column;
     margin-top: -130px;
    }
    .play-ins-con{
        text-align: center;
    }
    .play-ins-con h2{
        font-size: 30px;
    }
    .play-ins-con p{
        font-size: 15px;

    }
    .play-ins-pic{
        margin-top: -130px;
       }
     .big-img{
        width: 100%;
     }
    
    .small-img{
        position: relative;
        left: -15%;
        top: 75%;
        width: 40%;
    }
    .play-ins-pic{
        margin-right: 30px;
    }



    /* logo section start  */
.logo-card-sec{
    /* display: none; */
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 400px;
    /* width: 100vw; */
}
.logo-card-div{
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.logo-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-card p{
    font-size: 12px;
}
.logo-card img{
    width: 33px;
}

    /* footer section  */
    .foot-section{
        /* margin-top: 00px; */
    }
    .foot-web {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-right: 20px;
    }
    .foot-logo{
         
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 20px;
        font-size: 40px;
        padding-top: 60px;
    }
    .foot-condition{
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
    }
}







/* tablee responnsive  */
@media screen and (min-width:577px) and (max-width:992px) {
    .head-section{
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .head-menu{
        margin-top: 10px;
    }


       /* play section  */
       .play-section{
        flex-direction: column-reverse;
        gap: 20px;
        background-image: none;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    .play-container{
        background-image: url('../images/Group\ 14.png');
        background-position: left;
        background-repeat: no-repeat;
        width: 90%;
    }
    .play-pic img{
        width: 80%;
         
    }
    .play-container h2{
        margin-top: 30px;
    }
    .play-container p{
        margin-left: 70px;
    }


      /* gammer-section  */
      .gammer-section{
        flex-direction: column;
        background-image: none ;
        margin-top: 35px ;
    }
    .gammer-container{
        text-align: center;
    }
    


     /* online-game-section */
     .online-game-pic{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        column-gap: 0px;
        margin-left: 25px;
        gap: 20px;
    }
    .onl-g-c{
        height: 1100px;
    }



    /* play instantly section  */
    .play-ins-sec{
        flex-direction: column;
        margin-top: -100px;
       }
       .play-ins-con{
           text-align: center;
           margin-left: 40px;
       }
       .play-ins-con h2{
           font-size: 50px;
       }
       .play-ins-con p{
           font-size: 23px;
   
       }
       .play-ins-pic{
        margin-top: -250px;
       }
        .big-img{
           width: 80%;
        }
       
       .small-img{
           position: relative;
           left: -15%;
           top: 75%;
           width: 40%;
       }
       .play-ins-pic{
           margin-left: 40px;
       }

          /* logo section start  */
    .logo-card-sec{
    /* display: none; */
    /* margin-top: 230px; */
     
    }
    .logo-card-div{
    /* margin-top: 130px; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    }
    .logo-card{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

    .foot-web {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    }
    .foot-condition{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 30px;
        gap: 20px;
    }
}
